Ambiente-API
Forms/Download
Forms/Final_Forms.xlsx
Forms/__pycache__
Indicadores-Financeiro/sla.xlsx
Tracksales/campaign.xlsx
Tracksales/report.xlsx
Sharepoint/JUR/__pycache__
Sharepoint/JUR/final.xlsx
Sharepoint/MKT/__pycache__